.App {
  section {
    width: 512px;
    margin: 0 auto;
    margin-top: 4rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    h2 {
      font-family: "Montserrat";
      font-weight: 400;
      color: #ccc;
      margin: 0 0 1rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
  .container + .container {
    margin-top: 1rem;
  }
}
